<div class="col-md-6 col-md-offset-3 form-wrapper">
    <form id="sendbulkForm" name="sendbulkForm" class="form-horizontal" ng-submit="sendbulkForm.$valid && sb.send()">
        <h3 class="text-center title">Send Bulk SMS</h3>
        <div class="alert alert-success" ng-if="sb.smessage">
            {{sb.smessage}}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        <div class="alert alert-danger" ng-if="sb.emessage">
            {{sb.emessage}}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="senderid" ng-model="sb.senderid" placeholder="Enter Sender Name" autofocus required>
        </div>
        <div class="form-group">
            <textarea id="limitedtextarea" maxlength="160" name="message" rows="8" ng-model="sb.message" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="groupid">Choose Group</label>
            <!-- <select class="form-control" name="groupid" ng-model="sb.groupid">
                <option ng-repeat="group in sb.groups" ng-value="group.groupId">{{group.groupName}}</option>
            </select> -->
            <select class="form-control" name="groupid" ng-model="sb.groupid" ng-init="sb.groupid = sb.groupid" ng-options="group.groupId as group.groupName for group in sb.groups" required>
                <option selected value="Select a Guide">Select a Group</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="sb.sending">
                <h5>Send Message</h5>
                <img ng-if="sb.sending" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
        </div>
    </div>
</div>
<script>
$(function(){
    $("#limitedtextarea").characterCounter({
        counterFormat: '%1 characters remaining.'
    });
});
</script>
